In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = {'X': [78, 85, 96, 80, 86], 'Y': [84, 94, 89, 83, 86], 'Z': [86, 97, 96, 72, 83]}
df1 = pd.DataFrame(data1)
print("DataFrame 1:")
print(df1)
print()

DataFrame 1:
    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [3]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df2 = pd.DataFrame(exam_data, index=labels)
print("DataFrame 2:")
print(df2)
print()

DataFrame 2:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [4]:
print("Summary of DataFrame 2:")
print(df2.info())
print()

Summary of DataFrame 2:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [5]:
df3 = df2[['name', 'score']]
print("Selected 'name' and 'score' columns:")
print(df3)
print()

Selected 'name' and 'score' columns:
        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [6]:
num_rows, num_columns = df2.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)
print()

Number of rows: 10
Number of columns: 4

In [8]:
missing_score_rows = df2[df2['score'].isnull()]
print("Rows where the score is missing:")
print(missing_score_rows)
print()

Rows where the score is missing:
    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [9]:
selected_rows = df2[(df2['attempts'] < 2) & (df2['score'] > 15)]
print("Rows where attempts < 2 and score > 15:")
print(selected_rows)

Rows where attempts < 2 and score > 15:
    name  score  attempts qualify
j  Jonas   19.0         1     yes